<!DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Lenovo - CAP</title>
    <link rel="icon" href="logo.png" type="image/x-icon" />
    <!-- <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> -->
</head>
  <body>
    <!-- <noscript>Sorry, we need js to run correctly!</noscript> -->
    <noscript>一个以数据驱动、物联世界、高效协同的物流云平台，致力为客户提供智能运输、仓储管理、关务服务、系统集成等一体化物流解决方案。
      <img src="logo.png" width="25px" height="25px"/>
    </noscript>  
     <div id="root"></div>
    </body>
</html>
